# Ansible managed: static reservations for the EESSI cluster LAN.
option domain-name "eessi.lan";
option domain-name-servers 1.1.1.1, 9.9.9.9;

default-lease-time 600;
max-lease-time 7200;
authoritative;

subnet {{ cluster_net }} netmask 255.255.255.0 {
  option routers {{ head_lan_ip | ansible.utils.ipaddr('address') }};
  option subnet-mask 255.255.255.0;
}

{% for worker in groups['worker_nodes'] %}
{% set whost = hostvars[worker] %}
host {{ worker }} {
  hardware ethernet {{ whost.worker_mac }};
  fixed-address {{ whost.worker_ip }};
}
{% endfor %}
