# Ansible managed: CVMFS global configuration.
CVMFS_REPOSITORIES={{ cvmfs_repos | map(attribute='name') | join(',') }}
CVMFS_QUOTA_LIMIT=5000
CVMFS_REPOSITORIES_AUTO_CREATE=no
CVMFS_ATTEMPT_PROXY_ACCESS=yes
CVMFS_NO_AUTO_RETRYS=yes
CVMFS_STRIPES=1
